include ../text-button/text-button

mixin dropdown(options)
  if !options
    - options = {}

  if options.content === "room-composition"
    - 
      items = {
        item1: "Спальни",
        item2: "Кровати",
        item3: "Ванные комнаты",
      }
  else 
    - 
      items = {
        item1: "Взрослые",
        item2: "Дети",
        item3: "Младенцы",
      }
  
  h3.dropdown__title=options.title
  -
    var classes = "dropdown"
    classes += options.content ? (" dropdown_content_" + options.content + "  js-dropdown_content_" + options.content) : ""

  div(class = classes, data-initial=options.initial)
    .dropdown__expand.js-dropdown__expand
      |expand_more
    p.dropdown__selection.js-dropdown__selection
    .dropdown__menu.js-dropdown__menu
      div(class="dropdown__menu-option js-dropdown__menu-option" data-id="item1")
        .dropdown__item=items.item1
      div(class="dropdown__menu-option js-dropdown__menu-option" data-id="item2")
        .dropdown__item=items.item2
      div(class="dropdown__menu-option js-dropdown__menu-option" data-id="item3")
        .dropdown__item=items.item3

      if (options.content==="guest-composition") 
        .dropdown__buttons
          .dropdown__set.js-dropdown__set
            +text-button("применить")
          .dropdown__clear.js-dropdown__clear
            +text-button("очистить")