mixin font-intro(options)
  .font-intro
    case options.type
      when "h1"
        h1.font-intro__type=options.type
        h1.font-intro__description=options.description
      
      when "h2"
        h2.font-intro__type=options.type
        h2.font-intro__description=options.description

      when "h3"
        h3.font-intro__type=options.type
        h3.font-intro__description=options.description

      when "Body"
        .font-intro__type.font-intro__type_body=options.type
        .font-intro__description.font-intro__description_body=options.description