mixin font-intro({ type, description} = {})
  -
    const classes = type ? `font-intro__type_${(type).toLowerCase()}` : "";
  div(class = "font-intro", class=classes)
    if type !== "Body"
      #{type}.font-intro__name=type
      #{type}.font-intro__description=description
    else 
      .font-intro__name=type
      .font-intro__description=description
