mixin font-intro(options)
  if !options
      - options = {}

  -
    var classes = ""
    classes += options.type ? "font-intro__type_" + (options.type).toLowerCase() : ""

  div(class = "font-intro", class=classes)
    if options.type !== "Body"
      #{options.type}.font-intro__name=options.type
      #{options.type}.font-intro__description=options.description
    else 
      .font-intro__name=options.type
      .font-intro__description=options.description