mixin widget({ title, item1, item2, item3, item4})
  ul.widget
    li
      h3.widget__title=title
    li
      a(href="/toxin/mock-address" class="widget__item")=item1
    li
      a(href="/toxin/mock-address" class="widget__item")=item2
    li
      a(href="/toxin/mock-address" class="widget__item")=item3
    li
      a(href="/toxin/mock-address" class="widget__item")=item4