mixin widget(options)
  ul.widget__ul
    li
      h3.widget__title=options.title
    li
      a(href="/toxin/mock-address" class="widget__item")=options.item1
    li
      a(href="/toxin/mock-address" class="widget__item")=options.item2
    li
      a(href="/toxin/mock-address" class="widget__item")=options.item3
    li
      a(href="/toxin/mock-address" class="widget__item")=options.item4